<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Permiso de Notificaciones si usas Android 13+ (Tiramisu) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- SOLUCIÓN AL WARNING DE CÁMARA: Declara la cámara como opcional (no estrictamente requerida) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />


    <application
        android:name=".ChecadorApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ChecadorCCL">

        <!-- 1. ACTIVITY DE LOGIN (Punto de Entrada) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChecadorCCL.NoActionBar">

            <!-- ESTE FILTRO HACE QUE EL LOGIN SEA LA PANTALLA DE INICIO -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. ACTIVITY PRINCIPAL (Requiere Login Previo) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChecadorCCL.NoActionBar">


    </activity>
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".JustificationActivity" />
        <activity android:name=".IncidenceDetailActivity" />
        <activity android:name=".SedesActivity" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_stat_notification" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>
    </manifest>